* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0deg, 0%, 98%);
}
.app_country {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: baseline;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 10px;
}

.theme_mode {
  margin-right: 3rem;
}
.app_theme {
  font-size: 19px;
  cursor: pointer;
}
.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: #fff;
  transition: background-color 0.25s ease-in-out;
}
.dark-mode .header {
  background-color: hsl(209, 23%, 22%);
}
.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  transition: background-color 0.25s ease-in-out;
}
.light-mode .header {
  background-color: hsl(0, 0%, 100%);
}
.light-mode .search_input {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.dark-mode .search_input {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}
.forms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.search_input {
  padding: 15px 20px;
  font-size: 16px;
  margin-left: 1rem;
  box-shadow: 7px 17px 20px -19px rgba(0, 0, 0, 0.37);
  border: none;
  outline: none;
}
.app_regions {
  padding: 10px 24px;
  font-size: 16px;
  box-shadow: 7px 17px 20px -19px rgba(0, 0, 0, 0.37);
  border: 0px;
  outline: none;
}
.region_section {
  margin-right: 3rem;
}
.header_txt a {
  text-decoration: none;
}
.light-mode .header_txt a {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.light-mode .region_section {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.dark-mode .header_txt a {
  background-color: hsl(207, 26%, 17%);
  color: #fff;
}
.dark-mode .region_section {
  background-color: hsl(207, 26%, 17%);
  color: #fff;
}
.light-mode .app_regions {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}
.dark-mode .app_regions {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .forms {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .region_section {
    margin-top: 20px;
    margin-left: 30px;
  }
  .header_txt {
    font-size: 12px;
  }
  .app_theme {
    font-size: 13px;
    font-weight: 500;
  }
  .theme_mode {
    margin-right: 0.5rem;
  }
  .app_country {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .search_input {
    padding: 15px 56px;
    font-size: 16px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 7px 17px 20px -19px rgba(0, 0, 0, 0.37);
    border: none;
    outline: none;
  }
}
